<!--<app-destino-viaje *ngFor = "let x of destinos" [lugar]="x"></app-destino-viaje>-->

<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span	class="anchor"	id="formLogin"></span>
                <!-- form	card	login	with	validation	feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Agregar lugares</h3>
                </div>

                <div class="card-body">
                    <form>
                        <!--
                            The HTML DOM is an Object Model for HTML. It defines:

                                HTML elements as objects
                                Properties for all HTML elements
                                Methods for all HTML elements
                                Events for all HTML elements
                        -->
                        <!--Por eso se pone .value porque es o que el usuario puso, lo que necesito
                        de no poner .value tengo todo eñ objecto html y pues podría acceder al id, placeholder,
                        type, class...etc
                        -->

                        <div class="form-group">
                            <label	for="nombre">Nombre</label>
                            <input	type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombreLugar>
                        </div>
                        <div class="form-group">
                            <label	for="Imagen	Url">Imagen	Url</label>
                            <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
                        </div>
                        <!-- Aquí a este boton le digo que realiza la accion de guaradr que recibe esos paraemtro del string del input-->
                        <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombreLugar.value, url.value)" >Guardar!</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <hr	class="mb-5">
    <!--Este row-flex lo que hace es poner los divs uno al lado del otro en columnas-->
    <div class="row row-flex">
        <!--lugar es una variable declarada en el ts de este componente-->
        <!-- ese $event es lo mismo que el lugar x-->
        <app-destino-viaje 
        *ngFor = "let x of destinos; let i=index" 
        [lugar]="x"
        [posicion]="i+1"
        (clicked)="elegido($event)" 
        ></app-destino-viaje>                                                   
    </div>

</div>